* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #fff;
    min-height: 81vh;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

/**** Feedback pagina style ****/

.feedbackContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
}

.bestellingFeedback {
    font-size: 1.5em;
}

.groteFeedback {
    font-size: 1.5em;
}

.kleineFeedback {
    font-size: 0.8em;
}

/* ----------------- */

h1 {
    margin: 1rem auto;
}

h2 {
    margin: 0.75rem auto;
}

.goedeFeedback {
    color: green;
    margin: 0.5rem 0;
}

.fout {
    color: red;
    margin: 0.5rem 0;
}

/**** Orderoverzicht style ****/

.orderOverzicht {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 16px;
    width: 80%;
    margin: 1rem auto;
}

/**** Style per artikel ****/

.artikel-info {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    min-height: 10rem;
    border-bottom: 1px solid grey;
}

.artikel-info:last-child {
    border-bottom: none;
}

.bestellijnInfo-container {
    flex-grow: 1;
    text-align: left;
}

.bestellijnInfo-container span {
    display: inline-block;
    width: 6.75rem;
}

.bestellijnInfo-container p {
    width: 75%;
    margin: 0.5rem auto;
}

p.artikel-naam {
    font-size: larger;
    font-weight: bold;
    margin: 1.5rem auto;
}

.artikelImg-container {
    width: 30%;
}

.artikel-info img {
    width: 10rem;
    object-fit: contain;
    height: 100%;
}

.aantal {
    width: 2rem;
}

/* ----------------- */

/**** Betaaloverzicht (de deel onder de artikelen zoals: totaal, acriecode, enz..) style  ****/

#totaal {
    margin-top: 1rem;
}

.betaalOvezicht {
    position: relative;
    text-align: left;
}

.betaalOvezicht form {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.betaalOvezicht input[type=text] {
    height: 1.50rem;
    border-radius: 3px;
    padding-left: 0.5rem;
    margin-top: 0.1.5rem;
}

.betaalOvezicht input[type=text]:focus {
    outline-color: green;
    border-radius: 3px;
}

.afrekenenTekst {
    width: fit-content;
    margin: 0.3rem 0 0.3rem 5%;
    font-size: 1.5rem;
    font-weight: bold;
}

.metKorting {
    font-size: 1.25rem;
}

#korting span {
    color: green;
}

/* ----------------- */
/* ----------------- */

/**** Besteller informatie style ****/

.bestsllerInfo-container {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 16px;
    width: 80%;
    margin: 2rem auto;
}

.bestsllerInfo-container label {
    display: block;
    margin: 0.5rem 0;
}

#klantSoort label,
#betaalmethode label {
    display: inline-block;
}

.bestsllerInfo-container span {
    text-align: left;
    display: inline-block;
    min-width: 7.5rem;
}

input[value=Bestellen] {
    margin: 1rem 0;
    width: 10rem;
    height: 2rem;
}

input[type=checkbox],
input[type=radio] {
    accent-color: green;
    cursor: pointer;
}

form label {
    cursor: pointer;
}

/* ----------------- */

/**** Betaalmethode ****/
.betaalmethode {
    width: 6rem;
}

#betaalmethode input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#betaalmethode input[type=radio]+img {
    margin: 0 0.2rem;
    cursor: pointer;
}

#betaalmethode input[type=radio]:checked+img {
    border: 3px solid green;
    border-radius: 10px;
    outline: none;
}

#betaalmethode input[type=radio]:hover+img {
    outline: 3px solid #ABD7A8;
    border-radius: 10px;
}

/* ----------------- */

/**** knopen (update winkelmand - bestellen, toepassen) style ****/

.wrapper button,
.wrapper input[type=submit] {
    background-color: var(--huisstijl-zwart);
    color: var(--huisstijl-wit);
    font-family: inherit;
    border: none;
    min-width: 5rem;
    height: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 200ms;
}

.wrapper button {
    width: fit-content;
    padding: 0.25rem 0.50rem;
    height: 1.75rem;
}

.wrapper button:focus,
.wrapper input[type=submit]:focus {
    outline: 3px solid var(--huisstijl-groen);
}

.wrapper button:hover,
.wrapper input[type=submit]:hover {
    background-color: var(--huisstijl-groen);
    transition: background-color 200ms;
}

/* ----------------- */

/**** Responsiveness ****/

@media screen and (max-width: 1468px) {
    body.dyslexic-font {
        font-size: 90%;
    }

    .orderOverzicht {
        width: 90%;
    }

    .bestsllerInfo-container {
        width: 90%;
    }

    .betaalOvezicht input[type=text] {
        width: 8rem;
    }

    body.dyslexic-font .afrekenenTekst {
        font-size: 1.50em;
    }

    body.dyslexic-font .metKorting {
        font-size: 1.25em;
    }

}

@media screen and (max-width: 1024px) {
    body.dyslexic-font {
        font-size: 80%;
    }

    .orderOverzicht {
        width: 95%;
        padding: 1rem 0;
    }

    .bestsllerInfo-container {
        width: 95%;
    }

    .betaalOvezicht input[type=text] {
        width: 7rem;
    }

    body.dyslexic-font .afrekenenTekst {
        font-size: 1.25em;
    }

    body.dyslexic-font .metKorting {
        font-size: 1em;
    }

    .betaalOvezicht form span {
        display: block;
        margin: 0.25rem 0 0.125rem 0;
    }

}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    .orderOverzicht {
        width: 97.5%;
    }

    .bestsllerInfo-container {
        width: 97.5%;
    }

    .artikel-info img {
        width: 7.5rem;
    }



}


@media screen and (max-width:480px) {
    .artikel-info img {
        width: 6.5rem;
    }

    .afrekenenTekst {
        font-size: 1.25em;
    }

    .metKorting {
        font-size: 1em;
    }

    body.dyslexic-font .afrekenenTekst {
        font-size: 1.25em;
    }

    body.dyslexic-font .metKorting {
        font-size: 1em;
    }

    .orderOverzicht input[type=submit] {
        display: block;
        margin: 0.25rem auto;
    }

    .betaalOvezicht {
        min-height: 5rem;
    }
}

@media only screen and (max-width: 320px) {
    .artikel-info img {
        width: 5rem;
    }

    .betaalOvezicht form {
        position: static;
        right: auto;
        top: auto;
        transform: translateY(0);
        text-align: left;
    }

    .betaalOvezicht form label input {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    .betaalOvezicht form label span {
        width: fit-content;
        margin: 0 auto;
    }

}