/* TYPOGRAFIE */
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 100%;
}

/* KLEURSCHEMA'S */
:root {
    --huisstijl-zwart: #000000;
    --huisstijl-wit: #ffffff;
    --huisstijl-groen: #abd7a8;
}

body {
    background: var(--huisstijl-wit);
    color: var(--huisstijl-zwart);
}

/* LAYOUTSTIJLEN */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq {
    width: 600px;
    max-width: 100%;
    background-color: var(--huisstijl-wit);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px #0000001a;
    border: 2px solid #ddd;
}

.faq h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.faq-list {
    display: flex;
    flex-direction: column;
}

.faq-item {
    padding-bottom: 20px;
}

.faq-list .faq-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}